 <nav class="navbar navbar-sticky-top navbar-light" style="background-color: navajowhite">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bear Haus Wiffle</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="/templates/players.html">Players</a>
        <a class="nav-link" href="#">Standings</a>
        <a class="nav-link" href="#">Rules</a>
        <a class="nav-link" href="#">Media</a>
      </div>
    </div>
  </div>
</nav>
 