 <div class ="border-bottom">

  <h4>
    {{player['Fname']}}
  </h4>
</div>
       <div>
      {% if 'TC' in player %}
      {% if player['TC'] =='true' %}
      <img src="https://wiffle-ball-app.alfredoguerrer3.repl.co/static/teamcc.gif" width='175px' height='150px'>
      {% endif %}
   {% endif %}
       </div>
<div>
  {{player['B/T']}}
</div>
<div>
  {% if 'Spitch' in player %}
   Signature Pitch: {{player['Spitch']}}
  {% endif %}
</div>
<div>
  {% if 'Nname' in player %}
   Nickname: {{player['Nname']}}
  {% endif %}
</div>
