 <div class ="border-bottom">

  <h4>
    {{player['FName']}}
  </h4>
</div>
       <div>
      {% if 'TeamCaptain' in player %}
      {% if player['TeamCaptain'] == 1 %}
      <img src="https://wiffle-ball-app.alfredoguerrer3.repl.co/static/teamcc.gif" width='175px' height='150px'>
      {% endif %}
   {% endif %}
       </div>
<div>
  {{player['BatsThrows']}}
</div>
<div>
  {% if 'ERA' in player %}
   ERA: {{player['ERA']}}
  {% endif %}
</div>
<div>
  {% if 'NName' in player %}
   Nickname: {{player['NName']}}
  {% endif %}
</div>
